body{
	background-color: #000000;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 15px
}

button{
	border:1px solid #25692A;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
	padding:6px 10px;
	text-decoration:none;
	border-color:#f61f0e;
	background:linear-gradient(to bottom, #fca8a1 5%, #f61f0e 100%);
	box-shadow:inset 0px 1px 0px 0px #fff4f3;
	color:#000000;
	text-shadow:0px 1px 0px #528009
}

h3,
h4{
	color: #D6E04A
}

a{
	color: #AEACEF
}

body,
.botoes{
	margin: 0
}

h3,
h4,
.tabela_diretores,
.texto_diretores,
.tabela_filmes,
.contato{
	text-align: center
}

body,
.coluna_filmes,
.coluna_diretores{
	text-align: justify
}

.coluna_diretores,
.coluna_filmes,
.conteudo{
	padding: 10px
}

.tabelas_filmes,
.tabelas_diretores,
.imagem_index{
	width: 100%
}

.tabela_filmes,
.coluna_filmes{
	border: 1px solid #FFFFFF
}

.tabela_projeto,
.rodape,
.index{
	display: flex;
    align-items: center;
    justify-content: center
}

.rodape{
	margin-left: 10px;
	margin-right: 10px;
	height: 30px;
	background-color: #463F3F
}

.tabelas_filmes{
	height: 280px
}

.tabelas_diretores{
	height: 245px
}

.botoes{
	width: 80px;
	height: 40px;
	border: 0
}

.conteudo_cabecalho{
	background-color: #817E6C;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px
}

.conteudo{
	background-color: #2A1F1F;
	margin: 10px
}

.texto_diretores,
.texto_borda{
	color: #EA5252
}

.texto_borda{
	text-shadow: 1px 1px 1px #000000
}

.tabela_diretores{
	border: 1px solid #EA5252
}

.borda_index{
	border-style: outset;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-left-width: 10px;
	width: 80%
}